@model AntiqueStore.ViewModel.BookViewModel

@{
	ViewData["Title"] = "Add";
}

<h2>Add</h2>

<a href="/">Back</a>

<form action="/add" method="post">
	<label>Author:</label><input type="text" name="Author" value="" />
	<hr />
	<label>Title:</label><input type="text" name="Title" value="" />
	<hr />
	<label>Language:</label><input type="text" name="Language" value="" />
	<hr />
	<label>Page:</label><input type="number" name="Page" value="" />
	<hr />
	<label>Publication Date:</label><input type="text" name="PublicationDate" value="" />
	<hr />
	<label>Condition:</label>
	<select name="QualityId">
		<option value="" disabled selected>Select condition</option>
		@foreach (Quality quality in Model.Qualities)
		{
			<option value=@quality.Id>@quality.Condition</option>
		}
	</select>
	<hr />
	<label>Binding:</label>
	<select name="FormatId">
		<option value="" disabled selected>Select binding</option>
		@foreach (Format format in Model.Formats)
		{
			<option value=@format.Id>@format.Binding</option>
		}
	</select>
	<hr />
	<label>Quantity:</label><input type="number" name="Quantity" value="" /> <span> db</span>
	<hr />
	<label>Price:</label><input type="number" name="Price" value="" /> <span> HUF</span>
	<hr />

	<button type="submit">Submit</button>
</form>
