
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form action="/add" method="post">
	<label>Author:</label><input type="text" name="author" value="" />
	<label>Title:</label><input type="text" name="title" value="" />
	<label>Description:</label><input type="text" name="description" value="" />
	<label>Publication:</label><input type="date" name="publicationDate" value="" />
	<label>Publisher:</label><input type="text" name="publisher" value="" />
	<label>Quantity:</label><input type="number" name="quantity" value="" />
	<label>Price:</label><input type="number" name="price" value="" /> <span>HUF</span>

	<button type="submit">Submit</button>
</form>