@model AntiqueStore.ViewModel.CustomerViewModel

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<a href="/customer">Back</a>

<form action="/customer/edit/@Model.SelectedCustomer.Id" method="post" name="customer">
	<label>First Name:</label><input type="text" name="FirstName" value="@Model.SelectedCustomer.FirstName" />
	<hr />
	<label>Last Name:</label><input type="text" name="LastName" value="@Model.SelectedCustomer.LastName" />
	<hr />
	<label>Email:</label><input type="text" name="Email" value="@Model.SelectedCustomer.Email" />
	
	<button type="submit">Submit</button>
</form>