@model AntiqueStore.ViewModel.CustomerViewModel

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<a href="/">Back</a>

<form action="/edit/@Model.SelectedCustomer.Id" method="post" name="book">
	<label>Author:</label><input type="text" name="Author" value="@Model.SelectedCustomer.FirstName" />
	<hr />
	<label>Title:</label><input type="text" name="Title" value="@Model.SelectedCustomer.LastName" />
	<hr />
	<label>Language:</label><input type="text" name="Language" value="@Model.SelectedCustomer.Email" />
	
	<button type="submit">Submit</button>
</form>